<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>test1</string>
		<string>あああああ いいいいい ううううう</string>
	</array>
	<array>
		<string>test2</string>
		<string>かかかかか ききききき くくくくく</string>
	</array>
</array>
</plist>
